
.container{
   margin: 0 1rem;
   height: 80vh;
}

.show-password{
    width: 100%;
    cursor: pointer;
    margin-right: 2rem;
}
.text-input{
    width: 80%;
    padding: 0.40rem 1rem 0.40rem 0;
    border-radius: 2px;
}
.copy{
    cursor: pointer;
    margin: 1rem;
    text-align: center;
    padding: 0.50rem;
    width: 10%;
    border: 2px solid white;
    background-color: #a0c8e9;
    border-radius: 2px;
        
}

.length{
    display: flex;
    align-items: center;
   gap: 1rem;
}

.checkbox{
    padding: 1rem;
}

#genrate-password-btn{
    padding: 1rem;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: #116BB4;
    border: none;
    color: white;
    
}

#genrate-password-btn:hover{
    background-color: green;
}

